$black: #000000;
$white: #ffffff;

$red: #e33400;
$orange: #e39400;
$green: #5ccc96;
$yellow: #f2ce00;
$purple: #b3a1e6;
$purple2: #7a5ccc;
$dark_purple: #30365f;
$dark_purple2: #686f9a;
$cyan: #00a3cc;
$magenta: #ce6f8f;

$bg: #0f111b;
$bg2: #1b1c36;
$fg: #ecf0c1;
$line: #16172d;

* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font";
  font-family: "DaddyTimeMono NF";
}


image {
  color: blue;
}

circular-progress {
  padding: 2px
}

.bar_0, .bar_1 {
  background-color: $bg;
  border-radius: 10px;
}

.time {
  color: $fg;
  background-color: $bg2;
  border-radius: 5px;
  padding-top: 2px;
  // margin: 4px;
}

.sys {
  padding: 3 1px;
  min-height: 70px;

  label {
    color: $fg;
  }
  .ram_progress, .cpu_progress {
    background-color: $bg2;
    font-size: 10px;
    // min-width: 100%;
    // min-height: 100%;
  }
  .ram_progress {
    color: $red;
  }
  .cpu_progress {
    color: $cyan;
  }
}

.power_icon {
  padding: 2px 0;
  font-size: 20px;
  color: $red;
}
// .volume scale trough highlight {
//   all: unset;
//   border-radius: 24px;
//   background-color: red;
// }

.volume, .brightness {
  trough {
    all: unset;
    background-color: $bg2;
    border-radius: 24px;
    color: blue;
  }
  scale {
    all: unset;
    border-radius: 24px;
    background-color: $bg2;
    margin: 0 10px;
  }
  highlight {
    background-color: $cyan;
    border-radius: 24px;
    min-width: 14px;
  }
  slider {
    color: black;
    min-width: 10px;
    border-radius: 5px;
  }
  label {
    all: unset;
  }
}

.brightness highlight {
  background-color: $yellow;
}

.wifi {
  color: $fg;
}

.workspaces-widget {
  .occupied {
    background-color: $bg2;
  }
  .current {
    background-color: $purple;
  }

}

.sep {
  background-color: gray;
  color : gray;
}
